<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item [interval]="3000" >
    <img
      src="https://pixabay.com/get/g201f18500e27177ba80d5c87b5d0ae0619c766840454704e8facf95719d22bbc41d42b71bf63281498db6ec3857787ea82f65222142b145214396c5260b82eacb540a2fcf0b88dd828c583ecaa755a2b_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Luchamos por tu justicia</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3000">
    <img
      src="https://pixabay.com/get/g2a07c16c2305607694f0bef22e049a0ca996b6c0aee41c96ee3df45b6f1d050be1dbc19bb7f958f3a7ec674da16cbee92b59f328174f6f81b8dd9a7291d9ba0ad6ac14cfee7a37d9b4169ccad6bfe409_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Defendemos tus derechos</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item [interval]="3000">
    <img
      src="https://pixabay.com/get/g69bf8369519a7be438c9eee621ff7b1b3b34f46f43fd007e8429a1dfe7b9eeddf17ec0953ee15ee1f3a83c81fc1e657289a573b1be11a1344f498c9ca516b2c80add45d4a8d2ab2fd1d0ca0f0212cd85_640.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Apoyamos tu crecimiento</h1>
      <a class="btn btn-outline-warning btn-lg" href="#" role="button" style="font-family:GeosansLight;">Programa tu consulta</a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
